@import url("https://fonts.googleapis.com/css?family=Lato:regular,italic,700,900");
* {
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
    font-family: Lato;
}
header {
    margin: 50px 0px 50px 0px;
    
}
.work {
    margin: 0px auto 0;
}
h2 {
    font-size: 50px;
    font-weight: 900;
}